<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="A6Un7E12SyN9W3oxAYDD0R0d15k8bWdJPSg-UuRGIuU" />
    <title>Celebs | Club & Resort</title>
    <meta name="description" content="Best Restaurant In and around shimla and Kufri . Celebs Club and Resort ">
    <meta name="keywords" content="Resort, Club, Celebs, Shimla, Solan, Kufri, Best , View, Satisfaction">
    <meta name="author" content="Pankaj Sharma">
    <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet'>
    <link rel="stylesheet" href="{% static '/css/AboutUsRestaurant.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static '/css/elements/Celebs5.png' %}" sizes="192*192">
</head>
<body>
    <section class="section-social">
        <ul>
            <a href="https://www.facebook.com/celebs.resort/"><li>Facebook <spam><img src="{% static '/css/elements/facebook-icon@2x.png' %}"></spam></li></a>
            <a href="https://www.instagram.com/celeb.resorts/"><li>Instagram <spam><img src="{% static '/css/elements/Instagram_icon@2x.png' %}"></spam></li></a>
            <a href="mailto:celeb.resorts@gmail.com?Subject=Query%About%Celebs"><li>Google+ <spam><img src="{% static '/css/elements/google+.png' %}"></spam></li></a>
        </ul>
    </section>
    <section class="section1">
        <div class="section1-top">
            <img src="{% static '/css/elements/Celebs12-1.png' %}">

                <nav class="navigation_nav">
                    <ul class="navigation_list">
                                                       <li class="navigation_item"><a href="/" class="navigation_link">Home</a></li>
                        <li class="navigation_item"><a href="adventure" class="navigation_link">Adventure</a></li>
                        <li class="navigation_item"><a href="stories" class="navigation_link">Gallery & Stories</a></li>
                        <li class="navigation_item"><a href="bars" class="navigation_link">Bars & Resort</a></li>
                        <li class="navigation_item"><a href="book" class="navigation_link">Rooms</a></li>
                        <li class="navigation_item"><a href="contactUs" class="navigation_link">Contact Us</a></li>
                    </ul>
                </nav>
        </div>
        <h2>CELEBS</h2>
        <h1>Club And Restaurant</h1>
        <div class="button" #section2>
            <a href="book" class="Booking-btn">

                    Book Now

            </a>
        </div>
<!--        <div class="button-orange">-->
<!--            <button class="Booking-btn-o">-->
<!--                <img src="elements/thin-arrowheads-pointing-down.png">-->
<!--            </button>-->
<!--        </div>-->
    </section>
    <section class="section2">
        <div class="section2-left">
            <h1>About Us</h1>
            <p>
                Indian charm comes to life at Celebs Restaurants & Bars, our stunning Himachal's resort, immersed between blues skies and the Mountains.
                Set amongst the stunning natural geography of the Shimla alongside the Mountains, Celebs Restaurants & Clubs affords extraordinary views of the Himachal Pradesh in the entire region.
            </p>
<!--            <div class="button1">-->
<!--                <button class="Booking-btn1">-->
<!--                    Book Now-->
<!--                </button>-->
<!--            </div>-->
        </div>
        <div class="section2-right">
            <div class="right-1">
                <a href="#popup1" class="imagefull"><img src="{% static '/css/elements/appetizer-bowl-delicious-1640772-1.jpg' %}" class="img-adj"></a>
                <a href="#popup2" class="imagefull"><img src="{% static '/css/elements/asian-food-black-background-bowl-1907227-1.jpg' %}" class="img-adj"></a>
            </div>
            <div class="right-2">
                <a href="#popup3" class="imagefull"><img src="{% static '/css/elements/blurred-background-bowl-ceramic-842571-1.jpg' %}"></a>
            </div>
        </div>
    </section>
    <section class="section3">
        <h1 class="section-heading"></h1>
        <div class="section3-btn">
            <h2>OUR HOSPITALITY</h2>
<!--            <div class="buttons">-->
<!--                <button class="btn-left">-->
<!--                    <img src="elements/buttons.png">-->
<!--                </button>-->
<!--                <button class="btn-right">-->
<!--                    <img src="elements/buttons.png">-->
<!--                </button>-->
<!--            </div>-->
        </div>
        <div class="section3-images">
            <img src="{% static '/css/elements/DSC_0483-1-1.jpg' %}">
            <img src="{% static '/css/elements/DSC_0499-1-1.jpg' %}">
            <img src="{% static '/css/elements/IMG_9243-1-1.jpg' %}">
        </div>
    </section>
    <section class="section4">
        <p>
            Cultivated with care, our chef’s herb garden, surrounded by hibiscus, bougainvillea and oleander, is a truly special choice for your event. Choose to add a fascinating culinary experience to your meal, beginning with a tour of the garden. An interactive experience, you will learn how to incorporate indigenous ingredients into your own kitchen and leave with a deeper appreciation for Indian cuisine.
            Our dining team can transform your favourite Mountain Front spot into an exclusive dinner venue. With an inimitable menu highlighting our exceptional local produce, and décor and flowers that suit your style, we will make your dining experience a truly special occasion.
        </p>
        <div class="button">
<!--            <button class="Booking-btn">-->
<!--                Explore More-->
<!--            </button>-->
        </div>
    </section>
    <section class="section5">
        <h1 class="section-heading">Fortune</h1>
        <div class="section3-btn">
            <h2>BEST ROOMS</h2>
            <div class="buttons">
<!--                <button class="btn-left">-->
<!--                    <img src="elements/buttons.png">-->
<!--                </button>-->
<!--                <button class="btn-right">-->
<!--                    <img src="elements/buttons.png">-->
<!--                </button>-->
            </div>
        </div>
        <div class="section3-images">
            <img src="{% static '/css/elements/bvn (1)1-1.jpg' %}">
            <img src="{% static '/css/elements/IMG_20191116_141423937-1.jpg' %}">
            <img src="{% static '/css/elements/IMG_20191116_141437335-1-1.jpg' %}">
        </div>
    </section>
    <section class="section4">
        <p>
            Reserve one of Celebs Restaurants & Bars effortlessly stylish rooms, each offering an elegant taste of India. Take a moment to appreciate the breathtaking sunrises over the stunning Mountains of Cortez from your oversized balcony or terrace at our Celebs resort.
        </p>
        <div class="button">
            <a href="book" class="Booking-btn">

                Explore More

            </a>
        </div>
    </section>
    <section class="section6">
        <h1 class="section-heading">Special</h1>
        <div class="section3-btn">
            <h2>RESTAURANT & BAR</h2>
            <div class="buttons">
<!--                <button class="btn-left">-->
<!--                    <img src="elements/buttons.png">-->
<!--                </button>-->
<!--                <button class="btn-right">-->
<!--                    <img src="elements/buttons.png">-->
<!--                </button>-->
            </div>
        </div>
        <div class="section3-images">
            <img src="{% static '/css/elements/DSC_0629-1-1.jpg' %}">
            <img src="{% static '/css/elements/DSC_0694-1-1.jpg' %}">
            <img src="{% static '/css/elements/vi1-1.jpg' %}">
        </div>
    </section>
    <section class="section4">
        <p>
            Back in the 1830s Charles Tanqueray was not afraid to mix up brave ideas in his own unique style. He invented a gin recipe that is still celebrated to this day. The perfect mix of ingenuity, heritage and hard work. Discover everything that embodies the values of Charles Tanqueray.
        </p>
        <div class="button">
            <a href="bars" class="Booking-btn">

                Explore More

            </a>
        </div>
    </section>
    <section class="footer">
        <div class="footer-logo"><img src="{% static '/css/elements/Celebs5-1.png' %}"></div>
        <div class="footer-lower">
            <div>
                <h1>
                    Rooms
                </h1>
                <ul class="footer-list">
                    <li><a href="BookNow.html">Resort Rooms</a></li>
                    <li><a href="BookNow.html">Garden Valley View Rooms</a></li>
                </ul>
            </div>
            <div>
                <h1>Services</h1>
                <ul class="footer-list">
                    <li><a href="ContactUsResort.html">Gallery</a></li>
                    <li><a href="#">Heritage Weddings</a></li>
                    <li><a href="#">Corporate Meets</a></li>
                    <li><a href="#">Kitty Parties</a></li>
                </ul>
            </div>
            <div>
                <h1>About Us</h1>
                <ul class="footer-list">
                    <li><a href="">Testimonials</a></li>
                    <li><a href="">Video Gallery</a></li>
                    <li><a href="">Happy Day house</a></li>
                    <li><a href="ContactUsResort.html">Contact Us</a></li>
                </ul>
            </div>
            <div>
                <h1>Address</h1>
                <ul class="footer-list">
                    <li>Shogi</li>
                    <li>Shimla </li>
                    <li>Pin(171219) (Himachal Pradesh)</li>
                </ul>
            </div>
        </div>
        <div class="footer-lower1">
            <h1>copyrights &copy; 2018. all rights reserved. www.celebs.com</h1>
            <h1>Designed By Pankaj Sharma</h1>
        </div>
    </section>
    <div class="popup" id="popup1">
        <a href="#section-tour" class="popup__close">&times;</a>
        <img src="{% static '/css/elements/appetizer-bowl-delicious-1640772.jpg' %}" class="popup_img">
    </div>
    <div class="popup" id="popup2">
        <a href="#section-tour" class="popup__close">&times;</a>
        <img src="{% static '/css/elements/asian-food-black-background-bowl-1907227.jpg' %}" class="popup_img">
    </div>
    <div class="popup" id="popup3">
        <a href="#section-tour" class="popup__close">&times;</a>
        <img src="{% static '/css/elements/blurred-background-bowl-ceramic-842571.jpg' %}" class="popup_img">
    </div>
</body>
</html>
