<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adventure</title>
    <link rel="shortcut icon" type="image/png" href="{% static '/css/elements/Celebs5.png' %}" sizes="192*192">
    <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../static/css/swiper.min.css">
    <link rel="stylesheet" href="{% static '/css/Adventure.css' %}">

</head>
<body>
<section class="section-social">
    <ul>
            <a href="https://www.facebook.com/celebs.resort/"><li>Facebook <spam><img src="{% static '/css/elements/facebook-icon@2x.png' %}"></spam></li></a>
            <a href="https://www.instagram.com/celeb.resorts/"><li>Instagram <spam><img src="{% static '/css/elements/Instagram_icon@2x.png' %}"></spam></li></a>
            <a href="mailto:celeb.resorts@gmail.com?Subject=Query%About%Celebs"><li>Google+ <spam><img src="{% static '/css/elements/google+.png' %}"></spam></li></a>
        </ul>
</section>
<div>
<section class="section1">
    <div class="section1-top">
        <img src="{% static '/css/elements/Celebs12-1.png' %}">

        <nav class="navigation_nav">
            <ul class="navigation_list">
                                                      <li class="navigation_item"><a href="/" class="navigation_link">Home</a></li>
                        <li class="navigation_item"><a href="adventure" class="navigation_link">Adventure</a></li>
                        <li class="navigation_item"><a href="stories" class="navigation_link">Gallery & Stories</a></li>
                        <li class="navigation_item"><a href="bars" class="navigation_link">Bars & Resort</a></li>
                        <li class="navigation_item"><a href="book" class="navigation_link">Rooms</a></li>
                        <li class="navigation_item"><a href="contactUs" class="navigation_link">Contact Us</a></li>
            </ul>
        </nav>
    </div>
    <h2>ADVENTURE</h2>
    <h1>Where the whirling clouds
        embrace the hill
        with love,
        We mortals call it heaven.</h1>
    <div class="button">
        <a href="book" class="Booking-btn">
                Book Now
        </a>
    </div>
</section>
<section class="section2">
    <div class="section2-left">
        <h1>Explore More</h1>
        <p>
            There is a wide spectrum of adventure sports in Shimla that includes exciting adventure activities like trekking, rafting, and rock climbing among many others. Shimla, the capital city of Himachal Pradesh, is a popular tourist destination, and it is not just the tourist spots here that make it popular, but also the numerous adventure sports one can enjoy in Shimla.
        </p>
        <div class="button1">
            <a href="book" class="Booking-btn1">
                    Book Now
            </a>
        </div>
    </div>
    <div class="section2-right">
        <img src="{% static '/css/elements/IMG20191113124948-1-1.jpg' %}" class="img-adj">
        <img src="{% static '/css/elements/IMG20191113125458-1-1.jpg' %}" class="img-adj1">
    </div>
</section>
<section class="section3">
    <h1>ADVENTURE</h1>
    <div>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" >
                    <img src="{% static '/css/elements/campfire.png' %}" class="img-adj2">
                    <img src="{% static '/css/elements/astronomy-bonfire-dark-1703314-1-1.jpg' %}">
                </div>
                <div class="swiper-slide" >
                    <img src="{% static '/css/elements/Rafting.png' %}" class="img-adj2">
                    <img src="{% static '/css/elements/beatiful-landscape-boulders-bridge-3136711-1-1.jpg' %}">
                </div>
                <div class="swiper-slide" >
                    <img src="{% static '/css/elements/hillclimbing.png' %}" class="img-adj2">
                    <img src="{% static '/css/elements/adult-adventure-climb-2055556-1-1.jpg' %}">
                </div>
                <div class="swiper-slide" >
                    <img src="{% static '/css/elements/forest%20ride.png' %}" class="img-adj2">
                    <img src="{% static '/css/elements/daylight-environment-fern-795622-1-1.jpg' %}">
                </div>
                <div class="swiper-slide" >
                    <img src="{% static '/css/elements/campfire2.png' %}" class="img-adj2">
                    <img src="{% static '/css/elements/ash-blaze-bonfire-266436-1-1.jpg' %}">
                </div>
                <div class="swiper-slide" >
                    <img src="{% static '/css/elements/cycle%20adventure.png' %}" class="img-adj2">
                    <img src="{% static '/css/elements/action-active-activity-2158963-1-1.jpg' %}">
                </div>
                <div class="swiper-slide" >
                    <img src="{% static '/css/elements/camping.png' %}" class="img-adj2">
                    <img src="{% static '/css/elements/camp-camping-evening-2422265-1-1.jpg' %}">
                </div>

            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>
<section class="section4">
    <h1>
        Explore Near By Places
    </h1>
    <div class="section4-content1">
        <a href="#popup" class="card1">
            <img src="{% static '/css/elements/shimla.jpg' %}" class="img-adj3">
            <h1>Shimla Ridge</h1>
        </a>
        <a href="#popup1" class="card1">
            <img src="{% static '/css/elements/jakhoo-temple-shimla-1024x576.jpg' %}" class="img-adj3">
            <h1>Jakhoo Temple</h1>
        </a>
        <a href="#popup2" class="card1">
            <img src="{% static '/css/elements/tara-devi-temple-shimla.jpg' %}" class="img-adj3">
            <h1>Tara Devi Temple</h1>
        </a>
    </div>
    <div class="section4-content1">
        <a href="#popup3" class="card1">
            <img src="{% static '/css/elements/chail-palace-resturant.jpg' %}" class="img-adj3">
            <h1>Chial Palace</h1>
        </a>
        <a href="#popup4" class="card1">
            <img src="{% static '/css/elements/Creiket%20stadium.jpg' %}" class="img-adj3">
            <h1>Cricket Stadium</h1>
        </a>
        <a href="#popup5" class="card1">
            <img src="{% static '/css/elements/kalika_tibba.jpg' %}" class="img-adj3">
            <h1>Kali Ka Tibba</h1>
        </a>
    </div>
    <div class="section4-content1">
        <a href="#popup6" class="card1">
            <img src="{% static '/css/elements/kufri-shimla-tourism-entry-fee-timings-holidays-reviews-header.jpg' %}" class="img-adj3">
            <h1>Kufri</h1>
        </a>
        <a href="#popup7" class="card1">
            <img src="{% static '/css/elements/himalayan-bird-park-11.jpg' %}" class="img-adj3">
            <h1>Himalayan Bird Park</h1>
        </a>
        <a href="#popup8" class="card1">
            <img src="{% static '/css/elements/chadwik-fall-shimla1.jpg' %}" class="img-adj3">
            <h1>Chadwik Fall</h1>
        </a>
    </div>
    <h2>Many More</h2>
</section>
<section class="footer">
    <div class="footer-logo"><img src="{% static '/css/elements/Celebs5.png' %}"></div>
    <div class="footer-lower">
        <div>
            <h1>
                Rooms
            </h1>
            <ul class="footer-list">
                <li><a href="BookNow.html">Resort Rooms</a></li>
                <li><a href="BookNow.html">Garden Valley View Rooms</a></li>
            </ul>
        </div>
        <div>
            <h1>Services</h1>
            <ul class="footer-list">
                <li><a href="ContactUsResort.html">Gallery</a></li>
                <li><a href="#">Heritage Weddings</a></li>
                <li><a href="#">Corporate Meets</a></li>
                <li><a href="#">Kitty Parties</a></li>
            </ul>
        </div>
        <div>
            <h1>About Us</h1>
            <ul class="footer-list">
                <li><a href="">Testimonials</a></li>
                <li><a href="">Video Gallery</a></li>
                <li><a href="">Happy Day house</a></li>
                <li><a href="ContactUsResort.html">Contact Us</a></li>
            </ul>
        </div>
        <div>
            <h1>Address</h1>
            <ul class="footer-list">
                <li>Shogi</li>
                <li>Shimla </li>
                <li>Pin(171219) (Himachal Pradesh)</li>
            </ul>
        </div>
    </div>
    <div class="footer-lower1">
        <h1>copyrights 2018. all rights reserved. www.celebs.com</h1>
        <h1>Designed By Pankaj Sharma</h1>
    </div>
</section>
<div class="popup" id="popup">
    <div class="popup__content">
        <div class="popup__left">
            <img src="{% static '/css/elements/shimla.jpg' %}" class="popup__img">
        </div>
        <div class="popup__right">
            <a href="#section-tour" class="popup__close">&times;</a>
            <div class="heading-secondary">Shimla Ridge</div>
            <div class="popup__heading">The Ridge road is a large open space, located in the center of Shimla, the capital city of Himachal Pradesh, India. The Ridge is the hub of all cultural activities of Shimla. It is situated along the Mall Road, which is the famous shopping center of Shimla</div>
        </div>
    </div>
</div>
<div class="popup" id="popup1">
    <div class="popup__content">
        <div class="popup__left">
            <img src="{% static '/css/elements/jakhoo-temple-shimla-1024x576.jpg' %}" class="popup__img">
        </div>
        <div class="popup__right">
            <a href="#section-tour" class="popup__close">&times;</a>
            <div class="heading-secondary">Jakhoo Temple</div>
            <div class="popup__heading">Jakhoo Temple is an ancient temple in Shimla, dedicated to the Hindu deity Hanuman. It is situated on Jakhoo Hill, Shimla's highest peak, 2.5 km east of the Ridge at a height of 2,455 m above sea level. Each year, a festival is held on Dussehra. The temple is accessible by foot, horse, ropeway or taxi.</div>
        </div>
    </div>
</div>
<div class="popup" id="popup2">
    <div class="popup__content">
        <div class="popup__left">
            <img src="{% static '/css/elements/tara-devi-temple-shimla.jpg' %}" class="popup__img">
        </div>
        <div class="popup__right">
            <a href="#section-tour" class="popup__close">&times;</a>
            <div class="heading-secondary">Tara Devi Temple</div>
            <div class="popup__heading">The Tara Devi Temple is a holy place, located 11 km away from the Shimla Bus Stand. It is positioned amid a thick forest of oak and rhododendron and offers scenic views of the lofty Himalayas surrounding the town. The temple is very famous among tourists as the clean and fresh atmosphere here helps them relax from the day to day worries of life.</div>
        </div>
    </div>
</div>
<div class="popup" id="popup3">
    <div class="popup__content">
        <div class="popup__left">
            <img src="{% static '/css/elements/chail-palace-resturant.jpg' %}" class="popup__img">
        </div>
        <div class="popup__right">
            <a href="#section-tour" class="popup__close">&times;</a>
            <div class="heading-secondary">Chial Palace</div>
            <div class="popup__heading">The Tara Devi Temple is a holy place, located 11 km away from the Shimla Bus Stand. It is positioned amid a thick forest of oak and rhododendron and offers scenic views of the lofty Himalayas surrounding the town. The temple is very famous among tourists as the clean and fresh atmosphere here helps them relax from the day to day worries of life.</div>
        </div>
    </div>
</div>
<div class="popup" id="popup4">
    <div class="popup__content">
        <div class="popup__left">
            <img src="{% static '/css/elements/Creiket%20stadium.jpg' %}" class="popup__img">
        </div>
        <div class="popup__right">
            <a href="#section-tour" class="popup__close">&times;</a>
            <div class="heading-secondary">Creiket Stadium</div>
            <div class="popup__heading">Chail Cricket Ground is a cricket ground located in Chail, Himachal Pradesh. The ground was established in 1893 by Bhupinder Singh Maharaja of Patiala who owned a summer-retreat in Chail, that time the ground was developed</div>
        </div>
    </div>
</div>
<div class="popup" id="popup5">
    <div class="popup__content">
        <div class="popup__left">
            <img src="{% static '/css/elements/kalika_tibba.jpg' %}" class="popup__img">
        </div>
        <div class="popup__right">
            <a href="#section-tour" class="popup__close">&times;</a>
            <div class="heading-secondary">Kali ka Tibba</div>
            <div class="popup__heading">Situated at the top of a hill, Kali Ka Tibba is a popular must see place in Chail. The main deity of the temple is Kali Devi who attracts a lot of pilgrims and tourists from all across the world. You may enjoy the breathtaking scenery of Choor Chandni and Shivalik Range from the temple.</div>
        </div>
    </div>
</div>
<div class="popup" id="popup6">
    <div class="popup__content">
        <div class="popup__left">
            <img src="{% static '/css/elements/kufri-shimla-tourism-entry-fee-timings-holidays-reviews-header.jpg' %}" class="popup__img">
        </div>
        <div class="popup__right">
            <a href="#section-tour" class="popup__close">&times;</a>
            <div class="heading-secondary">Kufri</div>
            <div class="popup__heading">Kufri is a small hill station in Shimla district of Himachal Pradesh state in India. It is located 20 km from the state capital Shimla on the National Highway No.22. The name Kufri is derived from the word kufr meaning "lake" in the local language.</div>
        </div>
    </div>
</div>
<div class="popup" id="popup7">
    <div class="popup__content">
        <div class="popup__left">
            <img src="{% static '/css/elements/himalayan-bird-park-11.jpg' %}" class="popup__img">
        </div>
        <div class="popup__right">
            <a href="#section-tour" class="popup__close">&times;</a>
            <div class="heading-secondary">Himalayan Bird Park</div>
            <div class="popup__heading">Kufri is a small hill station in Shimla district of Himachal Pradesh state in India. It is located 20 km from the state capital Shimla on the National Highway No.22. The name Kufri is derived from the word kufr meaning "lake" in the local language.</div>
        </div>
    </div>
</div>
<div class="popup" id="popup8">
    <div class="popup__content">
        <div class="popup__left">
            <img src="{% static '/css/elements/chadwik-fall-shimla1.jpg' %}" class="popup__img">
        </div>
        <div class="popup__right">
            <a href="#section-tour" class="popup__close">&times;</a>
            <div class="heading-secondary">Chadwik Fall</div>
            <div class="popup__heading">Kufri is a small hill station in Shimla district of Himachal Pradesh state in India. It is located 20 km from the state capital Shimla on the National Highway No.22. The name Kufri is derived from the word kufr meaning "lake" in the local language.</div>
        </div>
    </div>
</div>

<script type="text/javascript" src="../static/js/swiper.min.js"></script>
<script>
    var swiper = new Swiper('.swiper-container', {
        effect: 'coverflow',
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: 'auto',
        coverflowEffect: {
            rotate: 50,
            stretch: 0,
            depth: 100,
            modifier: 1,
            slideShadows : true,
        },
        pagination: {
            el: '.swiper-pagination',
        },
    });
</script>
</body>
</html>
