<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
    <link rel="stylesheet" href="../static/css/GalleryCelebs.css">
</head>
<body>
<section class="section1">
    <div class="section1-top">
        <img src="{% static '/css/elements/Celebs4.png' %}">

        <nav class="navigation_nav">
            <ul class="navigation_list">
                                                 <li class="navigation_item"><a href="/" class="navigation_link">Home</a></li>
                        <li class="navigation_item"><a href="adventure" class="navigation_link">Adventure</a></li>
                        <li class="navigation_item"><a href="stories" class="navigation_link">Gallery & Stories</a></li>
                        <li class="navigation_item"><a href="bars" class="navigation_link">Bars & Resort</a></li>
                        <li class="navigation_item"><a href="book" class="navigation_link">Rooms</a></li>
                        <li class="navigation_item"><a href="contactUs" class="navigation_link">Contact Us</a></li>
            </ul>
        </nav>
    </div>
    </div>
    <div class="section1-heading">
        <h1>Gallery</h1>
        <p>EVERYTHING IS A CHOICE</p>
    </div>
</section>

<section class="section2">
    <img src="{% static '/css/elements/Water_Catchment_Wildlife_Sanctuary.jpg' %}">


    <img src="{% static '/css/elements/shimla.jpg' %}">


    <img src="{% static '/css/elements/tara-devi-temple-shimla.jpg' %}">

    <img src="{% static '/css/elements/mashobra.jpg' %}">

    <img src="{% static '/css/elements/Naldera.jpg' %}">

    <img src="{% static '/css/elements/kufri-shimla-tourism-entry-fee-timings-holidays-reviews-header.jpg' %}">
    </div>
    <div class="gallery-largeblock">
        <img src="{% static '/css/elements/blurred-background-bowl-ceramic-842571.jpg' %}">
        <img src="{% static '/css/elements/camp-camping-evening-2422265.jpg' %}">
        <img src="{% static '/css/elements/backpack-casual-daylight-1816225.jpg' %}">
        <img src="{% static '/css/elements/astronomy-bonfire-dark-1703314.jpg' %}">
    </div>
    <img src="{% static '/css/elements/shimla.jpg' %}">
    <img src="{% static '/css/elements/tara-devi-temple-shimla.jpg' %}">
    <img src="{% static '/css/elements/mashobra.jpg' %}">
    <img src="{% static '/css/elements/Naldera.jpg' %}">
    <img src="{% static '/css/elements/Naldera.jpg' %}">
    <img src="{% static '/css/elements/Naldera.jpg' %}">
</section>
</body>
</html>
