<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Private Dinning</title>
    <link rel="stylesheet" href="../static/css/PrivateDinning.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">

</head>
<body>
<section class="section-social">
    <ul>
        <a href="#"><li>Facebook <spam><img src="{% static '/css/elements/facebook-icon@2x.png' %}"></spam></li></a>
        <a href="#"><li>Instagram <spam><img src="{% static '/css/elements/Instagram_icon@2x.png' %}"></spam></li></a>
        <a href="#"><li>Google+ <spam><img src="{% static '/css/elements/google+.png' %}"></spam></li></a>
    </ul>
</section>
<div>
<section class="section1">
    <div class="section1-top">
        <img src="{% static '/css/elements/Celebs12.png' %}">

        <nav class="navigation_nav">
            <ul class="navigation_list">
                                   <li class="navigation_item"><a href="/" class="navigation_link">Home</a></li>
                        <li class="navigation_item"><a href="adventure" class="navigation_link">Adventure</a></li>
                        <li class="navigation_item"><a href="stories" class="navigation_link">Gallery & Stories</a></li>
                        <li class="navigation_item"><a href="bars" class="navigation_link">Bars & Resort</a></li>
                        <li class="navigation_item"><a href="book" class="navigation_link">Rooms</a></li>
                        <li class="navigation_item"><a href="contactUs" class="navigation_link">Contact Us</a></li>
            </ul>
        </nav>
    </div>
    </div>
    <div class="section1-heading">
        <h1>CELEBS</h1>
        <h1>CELEBRATIONS</h1>
    </div>
</section>
<section class="section2">
    <h1>PRIVATE DINNING AT CELEBS</h1>
    <h2>Whether entertaining a select group or hosting a large reception throughout the entire restaurant, CELEBS offers a number of options suitable for any occasion or event. A dedicated staff ensures that every detail of your event is attended to.</h2>
    <div class="section2-images">
        <div>
            <h1>WEST PRIVATE DINING ROOM</h1>
            <p>Steps above the main dining room, this lavish space is available for exclusive use each evening. With views into the vaulted wine cellar through historic brick archways, the room also features glass panel doors and silk drapery to allow for complete privacy for discerning groups of up to 18 guests.</p>
        </div>
        <div>
            <img src="{% static '/css/elements/brown-chairs-beside-dining-tables-3139124.jpg' %}">
        </div>
    </div>
    <div class="section2-images1">
        <div>
            <h1>NORTH & SOUTH ROOM</h1>
            <p>Adjacent to the Quince dining room, the restaurant offers two smaller private dining rooms with an elegant setting to host intimate gatherings for groups of up to 12 guests.</p>
        </div>
        <div>
            <img src="{% static '/css/elements/appliances-architecture-ceiling-chairs-534151.jpg' %}">
        </div>
    </div>
</section>
<section class="footer">
    <div class="footer-logo"><img src="{% static '/css/elements/Celebs5.png' %}"></div>
    <div class="footer-lower">
        <div>
            <h1>
                Rooms
            </h1>
            <ul class="footer-list">
                <li><a href="BookNow.html">Resort Rooms</a></li>
                <li><a href="BookNow.html">Garden Valley View Rooms</a></li>
            </ul>
        </div>
        <div>
            <h1>Services</h1>
            <ul class="footer-list">
                <li><a href="ContactUsResort.html">Gallery</a></li>
                <li><a href="PrivateDinning.html">Heritage Weddings</a></li>
                <li><a href="PrivateDinning.html">Corporate Meets</a></li>
                <li><a href="PrivateDinning.html">Kitty Parties</a></li>
            </ul>
        </div>
        <div>
            <h1>About Us</h1>
            <ul class="footer-list">
                <li><a href="">Testimonials</a></li>
                <li><a href="">Video Gallery</a></li>
                <li><a href="">Happy Day house</a></li>
                <li><a href="ContactUsResort.html">Contact Us</a></li>
            </ul>
        </div>
        <div>
            <h1>Address</h1>
            <ul class="footer-list">
                <li>Shogi, Shimla</li>
                <li>Himachal Pradesh</li>
                <li>Phone No.: 9923847832</li>
                <li>E-Mail: celebs@gamail.com</li>
            </ul>
        </div>
    </div>
    <div class="footer-lower1">
        <h1>copyrights 2018. all rights reserved. www.celebs.com</h1>
        <h1>Designed By Pankaj Sharma</h1>
    </div>
</section>
</body>
</html>
